
body {
    font-family: "Roboto", sans-serif;
    margin-top: unset;
    background-color: #0e1513;
    color: #dce2df;
}

h1 {
    background-color: #006960;
    text-align: center;
    font-weight: normal;
    font-size: x-large;
    margin: 0 -8px 0 -8px;
    padding: 14px;
}

h2 {
    text-align: left;
    font-weight: normal;
    margin: unset;
}

h3 {
    text-align: left;
    font-weight: normal;
    /*margin: unset;*/
}

p {
    /*color: #dce2df;*/
    text-align: justify;
    line-height: 1.5lh;
}

li {
    margin-top: 16px;
    margin-bottom: 16px;
}

a {
    color: aqua;
}

/*table, th, td {*/
/*border: 2px solid black;*/
/*border-collapse: collapse;*/
/*}*/

.notes-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 66vh;
}

.ccna-table-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33vh;
}